@{
    ViewData["Title"] = "Home Page";
}


<section class="hero" >
    <div class="hero_text">
        <p class="">
            Sumergete en un festín de sabores <br />
            exóticos que harán vibrar tu paladar
        </p>
        <h2>La aventura comienza aqui!</h2>
    </div>
    <div class="hero_img">
        <img src="~/images/alitas.png" alt="Alternate Text" />
    </div>
    
</section>


